h1, p {
  padding-left: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  color: white;
}

button {
  background-color: inherit;
  color: white;
  margin-left: 10px;
  padding: 1%;
  border: 1px solid white;
}

/*Container holding photo container and box container*/
.wrap {
  display: flex;
  /*background-image: image("Cat-Portrait.jpg");*/
}

/*Photo Container*/
.photo {
  border: 1px dashed;
  width: 30%;
  top: 0px;
  right: 0px;
  position: absolute;
  background-color: black;
  height: 100vh;
}

/*Box Container*/
.main-box {
  display: flex;
  border: 1px dashed;
  flex-wrap: wrap;
  height: 100vh;
  width: 70%;
}

/*Image Properties*/
img {
  object-fit: fill;
  height: 100%;
}

/*BOXES*/
.box {
  width: 33.33%;
  height: 33.33%;
}

#one {
  width: 66.66%;
  background-color: #75485E;
}

#two {
  background-color: #C3E991;
}

#three {
  background-color: #51A3A3;
}

#four {
  background-color: #DFCC74;
}

#five {
  background-color: #75485E;
}

#six {
  background-color: #CB904D;
}

#seven {
  background-color: #51A3A3;
}

#eight {
  background-color: #CB904D;
}

/*Media Query Stuff*/
@media screen and (max-width: 320px) {
  body {
    background-color: gray;
  }

  h1 {
    font-size: 20px;
  }

  p {
    font-size: 8px;
  }

  .photo {
    position: relative;
    height: 160px;
    width: 100%;
    background-color: black;
  }

  .main-box {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
  }

  .box {
    height: 160px;
    width: 50%;
  }

  #one {
    width: 100%;
    background-color: #75485E;
  }
}


@media screen and (max-width: 800px) {
  body {
    background-color: gray;
  }

  h1 {
    font-size: 30px;
  }

  p {
    font-size: 15px;
  }

  .photo {
    position: relative;
    height: 160px;
    width: 100%;
    background-color: black;
  }

  .main-box {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
  }
  .box {
    width: 33.33%;
  }

  #one {
    width: 66.66%;
    background-color: #75485E;
  }
}


@media screen and (max-width: 550px) {
  body {
    background-color: gray;
  }

  h1 {
    font-size: 25px;
  }

  p {
    font-size: 15px;
  }

  .photo {
    width: 100%;
    height: 160px;
    position: relative;
    background-color: black;
  }

  .main-box {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
  }

  .box {
    height: 200px;
    width: 50%;
  }

  #one {
    width: 100%;
    background-color: #75485E;
  }
}
