body {
  font-family: 'Open Sans', sans-serif;
  background-color: gray;
  display: flex;
  margin: 10px;
}

h1 {
  font-family: 600 15px 'Open Sans', sans-serif;
}


/*FLEXBOX ATTEMPT*/
/*.media {
  border: 1px dashed;
  height: 100vh;
  width: 34%;
  position: absolute; right: 10px;
}*/
.main-box {
  display: flex;
  border: 1px dashed;
  height: 100vh;
  flex-wrap: wrap;
  align-content:flex-start;;
  width: 60%;
}

.box {
  width: 200px;
  height: 200px;
}

#one {
  width: 400px;
  background-color: red;
}
#two {
  background-color: orange;
}
#three {
  background-color: yellow;
}
#four {
  background-color: green;
}
#five {
  background-color: blue;
}
#six {
  background-color: magenta
}
#seven {
  background-color: purple;
}
#eight {
  background-color: lavender;
}
#photo {
  width: 400px;
  height: 600px;
  background-color: black;
}
